#namespace: ""
jobs:
  - name: alert-rules
    labels:
      type: alert-rules
    verify:
      - name: verify alert rule validity
        cmd:
          - promtool
          - check
          - rules
          - "%s"
    target-dir: tmp/target-alert-rules/
