#namespace: ""
jobs:
  - name: alert-rules
    selector:
      type: alert-rules
    verify:
      - name: verify alert rule validity
        cmd: ["promtool", "check", "rules", "%s"]
    target-dir: tmp/target-alert-rules/
    post-deploy:
      - name: echo text
        cmd: ["echo", "Hello", "World"]
      #- name: reload prometehus
      #  cmd: ["curl", "-s", "http://localhost:9090/-/reload"]